.list {
  margin-top: 20px;
}

.list ul {
  padding: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #4ea8de;
  list-style-type: none;
}

.list p {
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  width: 100px;
  text-align: left;
  flex: 1;
}

.phoneNum {
  min-width: 150px;
}

.list button {
  margin-left: 10px;
  padding: 7px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list button:hover {
  background-color: #0056b3;
}

.list .fa-trash-can {
  margin-left: 10px;
  background-color: #ff4444;
  border-radius: 5px;
  padding: 9px 10px;
}

.list .fa-trash-can:hover {
  background-color: #cc0000;
}
